* {
    /* outline: solid red 1px; */
}

body {
    background-color: #1f2937;
    font-family: "Roboto";
    margin: 10px 125px;
    display: flex;
    flex-direction: column;
    gap: 90px;

}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    font-size: 24px;
    font-weight: 900;
    color: #f9f9fa;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

header ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;

}

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;

}



.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.hero button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.info,
.cta {
    background-color: #ffffff;
}

.quote {
    background-color: #e5e7eb;

}