* {
    outline: solid red 1px;
}

body {
    background-color: #1f2937;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 90px; */

}
body > * {
    padding: 10px 125px;
}

header,
.hero,
.info,
.quote,
.cta {
    padding-bottom: 90px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header p {
    font-size: 24px;
    font-weight: 900;
    color: #f9f9fa;
    flex-shrink: 0;
    margin: 0;

}

header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-shrink:0;
    gap: 20px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;

}



.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.hero button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.info-section{
    /* outline: solid 4px green; */
    display: flex;
    justify-content: center;
    /* gap: 50px; */


}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}
.info-image {
    border: 2px solid  #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 100px;

}

.info-text {
    text-align: center;
   
}

.info,
.cta {
    background-color: #ffffff;
}

.quote {
    background-color: #e5e7eb;

}
