/* * {
    outline: solid red 1px;
} */

body {
    background-color: #1f2937;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    /* gap: 90px; */

}
body > * {
    padding: 10px 125px;
}

header,
.hero,
.info,
.quote-section,
.cta {
    padding-bottom: 90px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header p {
    font-size: 24px;
    font-weight: 900;
    color: #f9f9fa;
    flex-shrink: 0;
    margin: 0;

}

header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-shrink:0;
    gap: 20px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;

}



.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.hero button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.info-section{
    /* outline: solid 4px green; */
    display: flex;
    justify-content: center;
    gap:70px;


}

.info-block {
    /* outline: solid 10px yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;


}
.info-image {
    border: 2px solid  #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 100px;

}

.info-text {
    text-align: center;
    width: 100px;
   
}

.info,
.cta {
    background-color: #ffffff;
}

.quote-section {
    background-color: #e5e7eb;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.author {
    align-self: flex-end;
    margin: 0;
    font-weight: 500;
    font-size: 25px;
}

.cta {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882f6;
    border-style: solid 0px;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
}

.cta-container h2 {
    color: #f9faf8;
}

.cta-container p {
    color: #e5e7eb;
}

.cta-container button {
    background-color: #3882f6;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: 900;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 20px;
}
