body {
    background-color: #1f2937;

}

header p {
    font-size: 24px;
    color: #f9f9fa;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
}

.info,
.cta {
    background-color: #ffffff;
}

.quote {
    background-color: #e5e7eb;

}